fos_rest:
    body_listener: true
    format_listener:
        rules:
            - { path: '^/cliente/transporte/api', priorities: ['json'], fallback_format: json, prefer_extension: true }
            - { path: '^/api', priorities: ['json'], fallback_format: json, prefer_extension: true }
            - { path: ^/, priorities: [ html ], fallback_format: html, prefer_extension: true }
    param_fetcher_listener: true
    view:
        view_response_listener: 'force'
        formats:
            json: true
