{% extends 'aplicacion/baseSinMenu.html.twig' %}
{% block title %}Descargar masivo{% endblock %}
{% block content %}
    {{ form_start(form) }}
    <div class="row">
        <h2 class="panel-title">Descargar masivo</h2>
    </div>
    <div class="row mt-2">
        <section class="panel">
            <header class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-filter"></i> Filtros</h3>
            </header>
            <div class="panel-body">
                <div class="row form-group form-group-sm">
                    <label class="col-sm-2 control-label">Nombre:</label>
                    <div class="col-sm-4">

                    </div>
                    <label class="col-sm-2 control-label">Código:</label>
                    <div class="col-sm-4">

                    </div>
                </div>

                <div class="row form-group form-group-sm">
                    <div class="col-sm-12">
                        {{ form_widget(form.btnCargar, { 'attr': {'class': 'btn btn-sm btn-default waves-effect waves-themed pull-right'} }) }}
                    </div>
                </div>
            </div>
        </section>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}

{% endblock %}