{{ form_start(form, {'action': path('empleado_cambio_empresa', {'codigoEmpleado': codigoEmpleado }), 'method': 'POST'}) }}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">Cambiar o asignar una empresa</h4>
</div>
<div class="modal-footer">
    <div class="modal-body">
        <div class="form-group form-group-sm">
            <div class="row">
                <label class="col-sm-3 control-label">Nit empresa:</label>
                <div class="col-sm-9">
                    {{ form_widget(form.empresa) }}
                    <div id="passwordHelpBlock" class="form-text text-left">
                        Esta información la provee la empresa<br>
                        No requiere digito de verificación<br>
                        No requiere signos de puntuación
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    {{ form_widget(form.btnCambiar, { 'attr': {'class': 'btn btn-primary'} }) }}
</div>
{{ form_end(form) }}