<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
<h1>Portal de servicios {{ nombreEmpresa }}</h1>
<p>Se ha registrado con éxito la solicitud con ID {{ id }}</p>
</body>
</html>

